<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.uclouvain.lsinf1225.groupeV2C.iqtest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logorond"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".inscription"
            android:label="inscription"
            android:parentActivityName=".connexion">
        </activity>
        <activity
            android:name=".connexion"
            android:label="connexion">
        </activity>
        <activity
            android:name=".menu"
            android:label="menu"
            android:parentActivityName=".connexion">
        </activity>
        <activity
            android:name=".category"
            android:label="category"
            android:parentActivityName=".menu">
        </activity>
        <activity android:name=".Rules"
            android:label="rules"
            android:parentActivityName=".menu">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>